.ui-app {
  display: flex;
  min-height: 100vh;
  padding-right: 4em;
}

.ui-navBar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 4em;
  margin: -2em 0;
  padding: 2em 0;
  background-color: @color-primary;

  .ui-shadow(3);
}

.ui-userBar {
  .ui-userBar__avatar {
    width: 4em;
    height: 4em;
    background-color: @color-background-dark;
  }
}

.ui-main {
  flex: 1;
  color: @color-text;
  background-color: @color-background;
}
