.ui-torrentList {
  &:extend(.ui-splitList all);

  background-color: @color-background-light;

  a {
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    color: @color-accent;
    transition: background-color 200ms;

    &:hover {
      background-color: @color-background-hover;
    }
  }

  .ui-torrentList__main {
    flex: 1;
  }

  .ui-torrentList__category {
    order: -1;
    width: 6em;
    margin-right: 1em;
    font-size: 0.875em;
    text-align: center;
    color: @color-text-secondary;
  }

  .ui-torrentList__action {
    order: 1;
    margin-left: 1em;
    color: @color-text-secondary;
    transition: visibility 200ms, opacity 200ms;
  }

  a:not(:hover) .ui-torrentList__action {
    visibility: hidden;
    opacity: 0;
  }

  .ui-torrentList__title {
    margin: 0;
    font-size: 1em;
    font-weight: normal;
  }

  .ui-torrentList__info {
    font-size: 0.75em;
    color: @color-text-hint;
  }
}
